@charset "UTF-8";

#wrap{
	width:1500px;
	height:800px;
	margin:auto;
	
}
header{
	width:1500px;
	height:100px;
}
.headerBox{
	width:800px;
}
.content{
	width:1500px;
}
.imgBox{
	height:200px;
	width:200px;
}
.joinImg{
	height:600px;
	width:400px;
}


.joinBox{
	width:400px;
	height:600px;
}
.loginBox{
	width:400px;
	height:400px;
}
.feedBox{
	width:800px;
}
.feedImgBox{
	width:800px;
}
.feedImg{
	width:200px;
	height:200px;
}
.img-icon{
	font-size:25px;
}

footer{
	width:1500px;
	height:50px;
}