@charset "UTF-8";

#wrap{
	width:1500px;
	height:800px;
	margin:auto;
	background-color:#E2E2E2;
}
header{
	width:1500px;
	height:100px;
	background-color:#E2E2E2;
}
.content{
	width:1500px;
	
}
.imgBox{
	height:200px;
	width:200px;
}
.joinImg{
	height:600px;
	width:400px;
}


.joinBox{
	width:400px;
	height:600px;
}
.loginBox{
	width:400px;
	height:400px;
}

footer{
	width:1500px;
	height:50px;
}